@font-face{font-family:RobotoRegular;src:url(../fonts/Roboto-Regular.ttf) format('truetype');
font-weight:400;
font-style:normal
}
@font-face{font-family:RobotoBold;src:url(../fonts/Roboto-Bold.ttf) format('truetype');
font-weight:400;
font-style:normal
}
@font-face{font-family:RobotoMedium;src:url(../fonts/Roboto-Medium.ttf) format('truetype');
font-weight:400;
font-style:normal
}
@font-face{font-family:RobotoLight;src:url(../fonts/Roboto-Light.ttf) format('truetype');
font-weight:400;
font-style:normal
}
body {
    font-family:RobotoRegular;
}
.wrapper-navbar {
	background-color: #FFF;
	color: $primary;
	border-bottom: 10px solid $primary;
}
#page-wrapper {
	min-height: 500px;
}
.navbar {
	    padding: 0.2rem 1rem;
}
.navbar > .container {
	    justify-content: flex-end;
}
.navbar-toggler { background: $primary; margin-top: 1rem; }
@media(min-width: 576px) {
	.navbar-expand-sm {
		.navbar-nav {
			.nav-link {
				padding-right: 1.1rem;
    			padding-left: 1.1rem;	
			}
		}
	}
}
@media(max-width: 415px) {
	.asx-search-form { margin-left: 0.5rem !important;}
	.navbar-toggler {
		margin-top: 0rem;
	}
}
@media(max-width: 800px){
	.navbar-expand-sm {
		.navbar-nav {
			.nav-link {
				padding-right: 0.5rem;
    			padding-left: 0.5rem;	
			}
		}
	}
}
.logo { margin-right: auto; }
.search-icn { color: $primary; }
.login-btn { 
	color: $primary; border-color: $primary; border-radius: 0px; 
	&:hover {
		background-color: $primary; color:#fff;
	}
}
.bmg-page-title { padding-bottom: 30px; color:$secondary; }
.read-more-bordered-btn {
	color: $secondary; border-color: $secondary; border-radius: 0px; padding-left: 2rem; padding-right: 2rem; font-weight: 500;
	&:hover {
		background-color: $secondary; color:#fff;
	}
}

.border-btn {
	color:$secondary; border-color: $secondary; border-radius: 0px !important; font-size: 1rem; font-weight: 500;
	&:hover {
		background-color: $secondary; color:#fff; border-color: $secondary;
	}
}
.demo-btn {
	background-color: $primary; color:#fff; border-radius: 0px; 
	&:hover {
		color: $primary; background-color: #FFF;  border-color: $primary;
	}
}
.free-scan-btn {
	color:#FFF; border-color: #FFF; border-radius: 0px !important; font-size: 1rem; font-weight: 500;
	&:hover, &:focus {
		background-color: #FFF !important; color:$secondary; border-color: #FFF !important;
	}
}
.navbar-nav {
	.nav-link {
		    color: $primary;
		    &:hover { background-color: #FFF; color:$primary; }
	}
}
.navbar-nav .active { background-color: #FFF; 
	.nav-link { color: $primary; }
 }
.bmg-big-logo { 
	padding: 15px; text-align: center;
}
.hero-heading { color:$secondary; font-family: RobotoBold; }
.hero-tagline { font-size: 1.75rem; font-family: RobotoBold; }
.carosel-text { color: #666; }
.bmg-wrapper-hero, .bmg-wrapper-contact { background-color: $primary; color: #FFF; text-align: center; 
	.jumbotron { background-color: transparent; color: #FFF;
		h1 { font-family: 'Montserrat';    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2; }
    	h2 { font-family: RobotoMedium, Arial; }
	 }
}
.asx-ppl-img { position: absolute;  max-width: 60%; }
.asx-ppl-img-medium { display: none; }
@media(max-width: 770px){
	.hero-heading {
		font-size: 1.25rem;
	}
}
.bmg-wrapper-contact { 
	margin: 0 -15px; transform: skewY(-6deg);
	h2 {
		font-size: 1.5rem;
	}
 }

.bmg-wrapper-contact > * { 
	transform: skewY(6deg);
}
.asx-devices { padding-right: 2rem; }
.bmg-cherry-banner_title, .feature-title { font-size: 1.3rem; font-family: RobotoMedium, Arial; text-align: center; text-transform: capitalize; color: $secondary; }
.feature-title {
	color:$secondary;
}


.bmg-cherry-banner {
	margin: 0;
	.style1 {
		.bmg-cherry-banner_wrap {
			background-color: rgba(0,0,0,.7);
		}
	}
}

.bmg-cherry-banner.style_1 .bmg-cherry-banner_wrap {
	background-color: rgba(0,0,0,.7);
    background-position: 100% 100%;
    padding: 23px 30px 30px 30px;
}
@media (max-width: 415px) {
	.bmg-cherry-banner {
		margin-bottom: 1rem;
	}
	.hero-cta { text-align: center; margin-top: 2rem; }
}
.cherry-banner_content {
	color: #666666;
}
.service-img { height: 200px; margin-bottom: 1rem; }
.bmg-block-title { padding: 30px 0; text-align: center;  text-transform: capitalize; }
.bmg-contact-frm, .bmg-contactus-frm, .bmg-schedule-demo-frm { text-align: left;
	.sqr-field {
		border-radius: 0px;
	}
	.rnd-field {
		border-radius: 30px;
		padding: 1.5rem 2rem;
	}
 }
.grey-text { color:#666666; }
 .bmg-submit, .blue-curvy-btn {
 	background-color: $secondary; border-radius: 0px; border-color: $secondary; padding-left: 4rem;
 	padding-right: 4rem; color: #FFF; transition: all .2s;
 	&:hover {
 		background-color: #FFF; color: $secondary;
 		   
		box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);	
 	}

 	&:active, &:focus {
		outline: none;
		box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
	}
 }

 .blue-curvy-btn { border-radius: 24px; padding: 0.75rem 2rem; }

.bmg-wrapper-footer {
	background: $primary;
}


#wrapper-footer {
 background: $primary; color: #fff !important;	
}
.footer-title { font-weight: 500; }
.footer-link-box { display: flex; justify-content: space-between; margin-top: 1rem; }
.footer-contact-box { margin-top: 1rem;
	div {
		font-size: 0.8rem;
	}
 }

.footer-links { list-style:none; padding:0; line-height: 2;  }
.footer-links a,.footer-links li { color:#FFF; font-size: 0.9rem; }
.footer-social-links { 
	margin-top: 1rem;
	a { color: #FFF; margin-right: 1rem; }
 }
.bmg-input-error { 
	font-size: 1em;
    font-weight: normal;
    display: block;
    line-height: 1.42857;
    color: #fff !important;
    background-color: #b10018;
    border-color: #b10018;
    margin-top: 9px;
    padding: 5px 10px;
}

.es-field-wrap {
     margin-bottom: 0em !important;
     label { width: 100%; }
}
.emaillist { margin-top: 1rem; }
.es_txt_email { width: 100%; padding: 10px; }

.es_subscription_message.success {
	color:#FFF !important;
}

.es_submit_button {
	background: $secondary; border: none; padding: 0.3rem 2rem; color: #FFF;
	&:hover, &:focus { color: $secondary; background: #FFF; }
}
.footer-bottom { padding: 1rem; text-align: center; }
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 36rem;
  background-color: #FFF;
  background-size: cover;
  overflow: hidden;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
  background-size: cover;	
}
.hero-content { margin-top: 75px; padding-right: 85px;}
.second-slide { display: none; }
@media(max-width: 1024px) {
	.hero-content { margin-top: -36px;}
	.first-slide { display: none; }
	.second-slide { display: block; }
	.carousel-item { height: 30rem; }
	.carosel-text { margin-right: 4rem; margin-bottom: 0.5rem; }
	.hero-heading { font-size: 1.75rem; }
	.hero-tagline { font-size: 1.50rem; }
	.asx-ppl-img { display: none; }
	.asx-ppl-img-medium { display: block; }
}
@media(max-width: 768px) {
	.hero-content { margin-top:-40px;}
	.carousel-item { height: 42rem; }
	.asx-ppl-img { bottom:0px; }
}
@media(max-width: 415px) {
	.hero-content { margin-top: -14px; padding-right: 15px; }
	.hero-heading { font-size: 1.20rem !important; }
	.hero-tagline { font-size: 1rem; }
	.asx-ppl-img-medium { max-width: 50%; }
	.carousel-item {
		right:0; left: 0; height: 37rem;
	}
	.first-slide { display: none; }
	.carousel-indicators {
		background-color: $primary;
	}
	.carousel-caption {
		right:0; left: 0; bottom: -2rem;
	}
	.carosel-text {
		width:100%;
	}
}

@media (max-width: 376px) {
	.hero-content { margin-top: -19px;}
	.carousel-item { height: 100%; }
	.carousel-caption { bottom: 0rem; }
}
@media(max-width: 360px) {
	.hero-content { margin-top: -16px;}
	.carousel-item { height: 41rem; }
	.border-btn { font-size: 0.8rem; }
}
.block-header { color:$secondary; font-family: RobotoMedium, Arial; text-align: center; margin: 2.5rem auto; }
.feature-imgs { height: 100px; }
.card { border-radius: 0px; border: none; }
.card-img-top { height: 200px; border:1px solid #B6B6B6; border-top: none; border-bottom: 2px solid #B6B6B6; }
.card-title { color:$secondary; }
.bmg-news-title { font-size: 1.5rem; font-family: RobotoMedium,  Arial; }
.card-body { padding-left: 0px; padding-right: 0px; }
.card-deck { margin-left: 0px; margin-right: 0px; }
.cta-row { margin-top: 3.5rem; }	
.blue-text { color: $secondary; }
.primary-block-header { color: $primary !important; font-family: RobotoBold, Arial; text-transform: uppercase; text-align: center; margin: 2.5rem auto; font-size: 2.5rem; }
.primary-block-header span { font-size: 1.75rem; font-family: RobotoMedium; display: block; }
.free-scan-cta {
	background-color: $secondary;
	padding-top: 2rem; padding-bottom: 1.5rem;
	color: #FFF;
	margin-top: 6rem; margin-bottom: 8rem;
	h2 { font-size: 1.25rem; font-family: RobotoMedium; }
	p { font-family: RobotoLight, Arial; }
}
.free-scan-img { position:absolute; width:450px; margin-top: -130px; left: 30px; }
@media (max-width: 415px) {
	.free-scan-cta { margin-top: 1rem; margin-bottom: 1rem; }
	.free-scan-img { display: none; }
	.cta-row { margin-top: 1.5rem; }
}
.bmg-carousel-item { height: auto; background-color: transparent; }
.client-logo-content { width: 70%; }
.client-logo { height: 50px; }
@media(max-width: 800px) {
	.client-logo { height: auto;}
}
@media (max-width: 415px) {
	.client-logo { margin-bottom: 30px; height: auto;}
}
.bmg-grey-prev-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");}
.bmg-grey-next-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }
.free-downloads { background-color: $primary; color:#FFF; padding: 10rem 0; text-align: center; 
	margin-top: 1rem; margin-bottom: 1rem; }
.testimonial-header { color: $secondary; text-align: center; font-size: 1.5rem; padding-top: 0.7rem;  }

.page, .post {
	.entry-content {
		p {
			color: #666;
		}
	}
}
.entry-meta { display: none; }
.navigation {
	text-align: right;
}
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #fff;
    text-decoration:none;
}
 
.navigation li {
    display: inline;
}
 
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #1E7BBE;
    border-radius: 3px;
    cursor: pointer;
    padding: 12px;
    padding: 0.75rem;
}
 
.navigation li a:hover,
.navigation li.active a {
    background-color: #104B75;
}
.bmg-form-heading { color: #666; }
.bmg-news-title { font-size: 1.3rem; }
.bmg-page-banner { position: relative;}
.bmg-banner-title { position: absolute; color: #fff !important; left: 35%; transform: translate(-50%, -50%);
top: 45%; font-size: 2.5rem; width:300px; text-align: left !important;
 }
 .project-management-banner-context { position:absolute; color:#fff; right:20%; width:400px;
  top: 32%;
	h1 { color:#fff !important; font-family: RobotoBold, Arial; margin-bottom: 0px; }
	.banner-sub-title { font-size: 1.25rem; }
}

@media(max-width: 1024px) {
	.project-management-banner-context {
		right: 7%;
		top: 19%;
	}
}

 @media(max-width: 768px){
 	.bmg-banner-title { font-size: 1.3rem; }
 	 .project-management-banner-context {
 	 	top:15%; right:10%;
 	 	h1 { font-size: 1.875rem; }
 	 	.banner-sub-title { font-size: 0.9375rem }
 	 }
 }

 @media(max-width: 415px) {
 	.bmg-form-heading { width: 50%; }
 	.contact-us-page .bmg-form-heading { width: 100%; }
 	.bmg-banner-title { left: 40%; width:250px; }
	.project-management-banner-context {
		width:250px; top:10%; right:5%;
		h1 {
			font-size: 1.25rem;
		}
		.banner-sub-title { font-size: 0.625rem; }
 	}
 }

 @media(max-width: 376px){
 	.bmg-banner-title { font-size: 0.8rem !important; left:37%; width: 150px;  }	
 }

 .schedule-demo-banner-img { position: absolute; right: 0; margin-top:-30px; width: 45%; }
 .contact-us-banner { background: url('../img/contactus-banner.png') no-repeat;  }
 .bmg-cf-parent { position: relative; height: auto; margin: 0 auto; margin-bottom: 80px; }
 .bmg-cf-child { position: relative; margin: 0 auto; background: #fff; margin-top: -40%; padding: 20px 40px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media(max-width: 415px) {
  .schedule-demo-banner-img { width: 100%; position: static; margin-bottom: 1rem; }
  .schedule-demo-page .bmg-form-heading { width: 100%; }	
}

 @media(max-width: 768px) {
 	 .bmg-cf-child {
 	 	margin-top: -20%;
 	 }
 }
 

 .form-group, .input-group { position: relative;}

 .form-group label, .input-group label {
  position:absolute;
  top:-13px;
  left:0;
  font-size:11px;
  color:#aaa;
  transition: all 0.1s linear;
  opacity:0;
  font-weight:bold;
}

.form-group label.on, .input-group label.on {
  color:#4481C4;
}

.woocommerce-page {
	.input-group, .form-group {
		display: flex; width: 100%;
		label {
			position: static; opacity: 1;
			color: #000; font-size: 16px; margin-bottom: 0px;
		}
	}
}

.bmg-contact-frm .form-group label { color: #FFF; }

.bmg-contact-frm .form-group label.on {
	color:#FFF;
}

.form-group label.show, .input-group  label.show {
  top:-15px;
  opacity:1;
}

.footer-as-link { font-size: 12px; }

@media(max-width: 770px){
	.form-inline { margin-left: 1rem; }
}

@media(max-width: 416px) {
	.row { padding-left: 15px; padding-right: 15px;}
}

.page h1, .post h1 { color: #006699; font-family: RobotoBold, Arial; }
@media(max-width: 415px) {
	.page h1 { font-size: 1.25rem; }
}

.single-post .wp-post-image { padding: 25px 0; }
@media(max-width: 415px){
	.entry-title { display: none; }
	.banner-sub-title { display: none; }
	.entry-content { padding-top: 1rem !important; }
}

/* Audit Page */
.audit-contact-form { 
	background: $primary; padding: 30px; border-radius: 10px;
	h1 {
		color: #104b77;
		font-size: 2rem;
	}
	label { display: block; position: static; color: #FFF; opacity: 1; }
}
.audit-sub-title, .audit-sub-title-2 { font-size: 1.25rem; font-family: RobotoBold; }
.audit-sub-title-2 { color: #726e6b; }
.audit-feature-title { font-size: 1.2rem; color: $primary; font-family: RobotoBold;  }
.audit-bottom-column { background: #c8d9e0; padding: 5rem 5rem 5rem 12%; }
.audit-form-note { color:#FFF; font-size: 0.9rem; }
.chk-container { margin-bottom: 10px;}
.check-icon { background: url('../img/check.png') no-repeat center; width:24px; height: 20px;
display: inline-block; margin-right: 10px;  }
.chk-list-text { font-size: 1.2rem; color: $primary; padding: 20px 0 10px 10px; margin-top: -25px; position: absolute; }
.ashield-checklist { 
	padding: 5rem 40px;
}
.v-center { display: flex; align-items: center; }


.audit-content-wrapper { background: $primary; color:#FFF; }
.audit-dollar { font-size: 2rem; vertical-align:top; }
.audit-price { font-size: 3.25rem; }
.audit-help-text { margin-left:30px; vertical-align:top; }
.audit-block { padding:56px 0; }
.audit-adv { text-align:justify; margin-left: 20px; }
.audit-img { max-height:300px; }
.audit-carousel-item { height: 527px; }

@media(max-width: 1024px) {
	.audit-carousel-item { height: 378px; }
}

@media(max-width: 768px) {
	.audit-carousel-item { height: 283px; }
	.chk-list-text { position: static;}
}

@media(max-width: 414px) {
	.audit-carousel-item { height: 152px; }
}

@media(max-width: 375px) {
	.audit-carousel-item { height: 138px; }
}

@media(max-width: 320px) {
	.audit-carousel-item { height: 117px; }
}


/************************ Test my site page ***********************************/

.tms-text { color: $secondary; }

.tms-button { 
background-color: $primary; color:#fff; padding-left: 2rem; padding-right: 2rem;
	&:hover {
		color: $primary; background-color: #FFF;  border-color: $primary;
	}
}

.tms-h2 { color: #006699; font-family: RobotoBold, Arial; }
.tms-h1 { color: $secondary !important; font-family: RobotoBold, Arial; }

.tms-note { color: $primary; font-size: 1rem; }

/***************************** Checkout page *************************************/

.woocommerce-checkout {
	.woocommerce-order-details, #order_review_heading,
	.woocommerce-order-overview { 
		display: none;
	}	
	.cart-subtotal, .cart_item {
		display: none;
	}
	.woocommerce-checkout-review-order-table thead, tbody {
		display: none;
	}

	.woocommerce table.shop_table {
		border-collapse: collapse;
	}
}

.woocommerce-checkout {
    .form-row {
        @extend .form-group;
        .woocommerce-input-wrapper {
            width: 100%;
            input,
            select,
            textarea {
                @extend .form-control;
            }
        }
    }
}

/********************************** Feature page ******************************************/

.feature-page { padding-top: 0px; }
.feature-hero {
	height: 25rem;
    background: url(../img/feature-hero.png) no-repeat;
    width: 100%;
    background-color: #FFF;
    background-size: cover;
    background-position: top right;
    color: #FFF;
    position: relative;
    h1 { color: #FFF; font-size: 2.5rem; }
    .feature-hero-text { text-align: center; flex: auto; }
    .container, .row { height: 100%; }
}

.feature-buttons {
	position: absolute;
	width:100%;
	margin-top: -25px;
}

.feature-request-demo-btn {
	display: inline-block;
	background: #145b8f; color:#FFF;
	width:48%;
	height:50px;
	text-align: right;
	padding-right: 20px;
	line-height: 3;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-right: 35px;
	&:hover {
		text-decoration: none; color:#FFF;
	}
}

.feature-report-btn {
	height: 50px; text-align: center; padding: 0 20px; line-height: 3; border-radius: 25px;
	display: inline-block; 	background: #145b8f; color:#FFF;
	&:hover {
		text-decoration: none; color:#FFF;
	}
}

@media(max-width: 414px) {
	.feature-request-demo-btn { margin-right: 20px; }
}

.feature-first-row {
	margin-top: 5.7rem;

	img {
		max-width: 80%;
	}

	h2 {
		font-family: RobotoBold, Arial; color:#145a8b;
	}

	p { color: #145a8b; font-family: RobotoMedium, Arial; }
}

@media(max-width: 414px) {
	.feature-asx-logo { text-align: center; padding-bottom: 3rem; }
}	


.blue-card, .green-card, .white-card {
	background: #145b8f; padding:40px 20px; border-radius: 10px; color:#FFF;

	h3 { font-size: 1.25rem; color:#FFF; text-align: center; font-family: RobotoMedium, Arial;
	padding: 0 30px; }

	img {
		height: 146px;
	}
}

.green-card {
	background: #0c7d7b;
	img {
		height: 146px;
	}
}

.white-card {
	background: #FFF; border:2px solid #145b8f; color: #145b8f;
	img {
		height: 146px;
	}

	h3 {
		color: #145b8f;
	}
}

.feature-third-row {
	h2 { font-family: RobotoMedium, Arial; color: #145b8f;  }
	p { color: #145b8f; margin-top: 1rem; }
}

.green-box {
	background: #0c7d7b; color:#FFF; border-radius: 10px; padding: 30px;
	h3 { font-size: 1.25rem; color:#FFF; font-family: RobotoMedium, Arial; }
	p { margin-bottom: 0px; margin-top: 10px; }
}

.feature-fourth-row {
	margin-top: 6rem;
}

.feature-fifth-row {
	display: flex;
	width: 100%;
	margin-top: 4rem;
}

.white-box {
	color: #145b8f; padding: 30px;
	h3 { font-size: 1.25rem; font-family: RobotoMedium, Arial; }
	p { margin-bottom: 0px; margin-top: 10px; }
}

.bullet-box {
	color:#FFF; padding: 100px;
	border-radius: 0 250px 250px 0; 
	background: #005b90;
	padding-left: 20%;
}

.feature-diagram {
	padding-left: 3rem;
	
}


@media (min-width: 576px) {
	.bullet-box {
		flex: 0 0 60%;
		max-width: 60%
	}

	.feature-diagram {
		flex: 0 0 40%;
		max-width: 40%;
	}

}

@media(max-width: 414px) {
	.feature-fifth-row {
		display: block;
	}
	.bullet-box {
		width: 100%;
		margin-bottom: 3rem;
	}

	.feature-diagram {
		width: 100%;
	}

}

.feature-last-row {
	margin: 6rem 0 3rem 0;
}

/* How audit works page */

.how-audits-work-page { font-size: 1.5rem; padding-top: 0px; }

.haw-bg {
	background: #0c5486;  background-size: cover; min-height: 416px;  width: 100%; 
	padding-top: 4rem; border-bottom: 40px solid #cedeeb;

	h1 { color:#FFF; font-family: RobotoMedium, Arial; font-size: 2rem; text-transform: uppercase; }

	a 	{
		color:#baed69; text-decoration: underline;
	} 

	.haw-smlink { font-size: 1rem; }
}
.uline-cnt { height: 10px; margin-top: -10px; }
.uline-a, .uline-b, .uline-c { height: 10px; width: 120px; margin-right: 5px; display: inline-block; background: #109796; }

.uline-b { width: 80px; }

.uline-c { width: 50px; }

.haw-desc { color: #FFF; font-size: 1.5rem; margin-top: 0.75rem; }
.div-com-pts { margin-top: 2rem; list-style: none; font-size: 1.5rem; line-height: 1.8; 
	position: relative; margin-bottom: 4rem; }
.shield-bullet { background: url(../img/shield-bullet.png) no-repeat; width: 20px; height: 26px; 
	display: inline-block; margin-top: 8px; margin-left: -30px; position: absolute; }
.tick-bullet { background: url(../img/tick.png) no-repeat; width: 20px; height: 16px; 
	display: inline-block; margin-top: 12px; margin-left: -30px; position: absolute; }	
.haw-pts { position: relative; }
.hiw-fig { position: absolute; right:0; top: -111px; }	
.haw-section-title { font-family: RobotoMedium, Arial; font-size: 2rem; 
	text-transform: uppercase; color: #104b75; }
.haw-included { background: #FFF; position: absolute; border-bottom-right-radius: 80px; 
	padding-bottom: 4rem; z-index: 9999; width: 100%; }	


@media (max-width: 414px) {
	.hiw-fig { position: static; }	
}
